body{ padding: 0; margin: 0; }

#cont{
	width: 80%;
	margin: 0 auto;
}

#images{
	height: 150px;
	width: 150px;
	display: inline-block;
	margin: 10px;
}

#images>img{
	height: 100%;
}

nav{
	padding: 15px;
	margin-bottom: 20px;
	background-color: #eee;
}

h1{
	font-family: sans-serif;
	color: #8d3fb9;
	font-weight: 300;
	font-size: 1.20em;
}